@media (max-width:1400px)
{
    .timeline
    {
        margin-left: 520px;
       
    }

}
@media (max-width:1340px)
{
    .timeline
    {
        margin-left: 490px;
       
    }

}
@media (max-width:1300px)
{
    .sidebars
    {
        background-color: aqua transparent;
    }
    .experience_titre
    {
        margin-left: 120px;
    }
    .timeline
    {
        margin-left: 460px;
       
    }
}
@media (max-width:1200px)
{
    .sidebars
    {
        background-color: aqua transparent;
    }
    .experience_titre
    {
        margin-left: 110px;
    }
    .timeline
    {
        margin-left: 420px;
    }
    .portfolio_annonce
    {
        margin: 0 50px;
    }
}
@media (max-width:1115px)
{
    .sidebars
    {
        background-color: aqua transparent;
    }
    .experience_titre
    {
        margin-left: 110px;
    }
    .timeline
    {
        margin-left: 400px;
    }
    .portfolio_annonce
    {
        margin: 0 50px;
    }
}
@media (max-width:992px)
{
    .img_me_conteneur
    {
        width: 150px;
        height: 150px;
    }
    .bienvenue_texte
    {
        left:250px;
    }
    .bienvenue_texte_1
    {
        left:250px;
    }
    .bienvenue_texte_2
    {
        left:250px;
    }
    .experience_titre
    {
        margin-left: 80px;
        width: 78%;
    }
    .timeline
    {
        margin-left: 340px;
    }
    .exp_1
    {
        width: 250px;
        height: 180px;
        right: 80px;
    }
    .exp_1::after
    {
        left: 250px;
    }
    .exp_2
    {
        width: 250px;
        height: 200px;
        left: 80px;
    }
    .exp_2::after
    {
        right: 250px;
    }
    .exp_3
    {
        width: 250px;
        height: 240px;
        right: 80px;
    }
    .exp_3::after
    {
        left: 250px;
    }
}

@media (max-width:1000px)
{
    .img_me_conteneur
    {
        width: 150px;
        height: 150px;
    }
    .bienvenue_texte
    {
        left:250px;
    }
    .bienvenue_texte_1
    {
        left:250px;
    }
    .bienvenue_texte_2
    {
        left:250px;
    }
    .experience_titre
    {
        margin-left: 80px;
        width: 78%;
    }
    .timeline
    {
        margin-left: 340px;
    }
    .exp_1
    {
        width: 250px;
        height: 180px;
        right: 80px;
    }
    .exp_1::after
    {
        left: 250px;
    }
    .exp_2
    {
        width: 250px;
        height: 200px;
        left: 80px;
    }
    .exp_2::after
    {
        right: 250px;
    }
    .exp_3
    {
        width: 250px;
        height: 240px;
        right: 80px;
    }
    .exp_3::after
    {
        left: 250px;
    }
}
@media (max-width:1024px)
{
    .img_me_conteneur
    {
        visibility: hidden;
    }
    .img_me
    {
        visibility: visible;
        border-radius: 10px;

    }
}
@media (max-width:1060px)
{
    .img_me_conteneur
    {
        width: 150px;
        height: 150px;
    }
    .bienvenue_texte
    {
        left:250px;
    }
    .bienvenue_texte_1
    {
        left:250px;
    }
    .bienvenue_texte_2
    {
        left:250px;
    }
    .experience_titre
    {
        margin-left: 80px;
        width: 78%;
    }
    .timeline
    {
        margin-left: 340px;
    }
    .exp_1
    {
        width: 250px;
        height: 180px;
        right: 80px;
    }
    .exp_1::after
    {
        left: 250px;
    }
    .exp_2
    {
        width: 250px;
        height: 200px;
        left: 80px;
    }
    .exp_2::after
    {
        right: 250px;
    }
    .exp_3
    {
        width: 250px;
        height: 240px;
        right: 80px;
    }
    .exp_3::after
    {
        left: 250px;
    }
}
@media (max-width:1100px)
{
    .img_me_conteneur
    {
        width: 150px;
        height: 150px;
    }
    .bienvenue_texte
    {
        left:250px;
    }
    .bienvenue_texte_1
    {
        left:250px;
    }
    .bienvenue_texte_2
    {
        left:250px;
    }
    .experience_titre
    {
        margin-left: 80px;
        width: 78%;
    }
    .timeline
    {
        margin-left: 340px;
    }
    .exp_1
    {
        width: 250px;
        height: 180px;
        right: 80px;
    }
    .exp_1::after
    {
        left: 250px;
    }
    .exp_2
    {
        width: 250px;
        height: 200px;
        left: 80px;
    }
    .exp_2::after
    {
        right: 250px;
    }
    .exp_3
    {
        width: 250px;
        height: 240px;
        right: 80px;
    }
    .exp_3::after
    {
        left: 250px;
    }
}
@media (max-width:880px)
{
   .img_me_conteneur
    {
        width: 150px;
        height: 150px;
    }
    .bienvenue_texte
    {
        left:250px;
    }
    .bienvenue_texte_1
    {
        left:250px;
    }
    .bienvenue_texte_2
    {
        left:250px;
    }
    .experience_titre
    {
        margin-left: 80px;
        width: 78%;
    }
    .timeline
    {
        margin-left: 320px;
    }
    .exp_1
    {
        width: 230px;
        height: 180px;
        right: 80px;
    }
    .exp_1::after
    {
        left: 230px;
    }
    .exp_2
    {
        width: 230px;
        height: 245px;
        left: 80px;
    }
    .exp_2::after
    {
        right: 230px;
    }
    .exp_3
    {
        width: 230px;
        height: 260px;
        right: 80px;
    }
    .exp_3::after
    {
        left: 230px;
    }
    
}
@media (max-width:930px)
{
   .img_me_conteneur
    {
        width: 150px;
        height: 150px;
    }
    .bienvenue_texte
    {
        left:250px;
    }
    .bienvenue_texte_1
    {
        left:250px;
    }
    .bienvenue_texte_2
    {
        left:250px;
    }
    .experience_titre
    {
        margin-left: 80px;
        width: 78%;
    }
    .timeline
    {
        margin-left: 320px;
    }
    .exp_1
    {
        width: 230px;
        height: 180px;
        right: 80px;
    }
    .exp_1::after
    {
        left: 230px;
    }
    .exp_2
    {
        width: 230px;
        height: 245px;
        left: 80px;
    }
    .exp_2::after
    {
        right: 230px;
    }
    .exp_3
    {
        width: 230px;
        height: 260px;
        right: 80px;
    }
    .exp_3::after
    {
        left: 230px;
    }
    
}

/* ============================  tapitra eto ny le mipotra le sidebars , manomboka caché izy eto */
@media (max-width:929px)
{
    body
    {
        overflow-y: visible;
        overflow-x:hidden ;
    }
    .sidebars
    {
        display: none;
    }
    .menu_resp_me
    {
        display: block;
        position: fixed;
        cursor: pointer;
        width: 50px;
        height: 50px;
        top: 20px;
        left: 10px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px black inset, 0 0 5px black;
    }
    .bienvenue
    {
        width: 100%;
        margin: 0;
    }
    .competence
    {
        width: 100%;
        margin: 0;
    }
    .experience
    {
        width: 100%;
        margin: 0;
    }
    .portfolio
    {
        width: 100%;
        margin: 0;
    }
    .timeline
    {
        margin:auto;
    } 
}
@media (max-width:630px)
{
    body
    {
        overflow-y: scroll;
        overflow-x: none;
    }
    .timeline
    {
        margin:auto;
    }
    .mon_experience
    {
        margin: 40px 0;
    }
}
@media (max-width:629px)
{
    .competence
    {
        background-color:blue transparent;
        width: 100%;
    }
    .mon_competence
    {
        width: 100%;
    }
    .timeline
    {
        width: 100%;
        margin: 0;
        display: flex;
        background-color: transparent;
        place-content: center;
        flex-direction: column;
        align-items: center;
    }
    .timeline_icon_1
    {
        display: none;
    }
    .timeline_icon_2
    {
        display: none;
    }
    .timeline_icon_3
    {
        display: none;
    }
    .mon_experience
    {
        width: 100%;
        display: flex;
        place-content: center;
        flex-direction: column;
        margin: 0;
    }
    .experience
    {
        margin: 0;
        width: 100%;
    }
    .experience_titre
    {
        margin-left: 0;
        width: 100%;
    }
    .exp_1
    {
        width: 290px;
        height: 150px;
        background-color: #6c757d;
        border-radius: 10px;
        color: white;
        position: static;
        margin: 30px 0;

    }
    .exp_2
    {
        width: 290px;
        height: 150px;
        background-color: #6c757d;
        border-radius: 10px;
        color: white;
        position: static;
        margin: 30px 0;


    }
    .exp_3
    {
        width: 290px;
        height: 170px;
        background-color: #6c757d;
        border-radius: 10px;
        color: white;
        position: static;
        margin: 30px 0;


    }
    .bienvenue_texte_2
    {
        width: 50%;
    }
    .exp_1:after
    {
        display: none;
    }
    .exp_2:after
    {
        display: none;
    }
    .exp_3:after
    {
        display: none;
    }
}
@media (max-width:450px)
{
    .exp_1
    {
        margin: 0;
        width: 300px;
        height: 150px;
        margin-top: 10px;
    }
    .exp_2
    {
        margin: 20px 0;
        width: 300px;
        height: 150px;
    }
    .img_me_conteneur
    {
        max-width: 150px;
        max-height: 150px;
    }
    .exp_3
    {
        margin: 0;
        width: 300px;
        height: 170px;
    }
    .momba_ahy
    {
        position: absolute;
        bottom: 70px;
        font-size: 15px;
    }

    .still
    {
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

}
@media (max-width:637px)
{
    .exp_1
    {
        margin: 0;
        width: 300px;
        height: 150px;
        margin-top: 100px;
    }
    .exp_2
    {
        margin: 20px 0;
        width: 300px;
        height: 150px;
    }
    .exp_3
    {
        margin: 0;
        width: 300px;
        height: 170px;
    }
    .reseau_sociaux
    {
        margin: 0 500px;
        
        justify-content: space-around;
        display: flex;
    }
}
